body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #2c0c64, #9c15fc);
    height: 100vh;
}

/* BOTÃO VOLTAR */
.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);

    color: white;
    font-size: 18px;
    text-decoration: none;

    transition: 0.3s;
    z-index: 1000;
}

.back-btn:hover {
    background: rgba(255,255,255,0.3);
    transform: scale(1.1);
}

.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cadastro-box {
    width: 100%;
    max-width: 420px;
    padding: 40px 30px;
    border-radius: 25px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);

    box-shadow: 0 20px 60px rgba(0,0,0,0.3);
    color: white;
}

.subtitle {
    color: rgba(255,255,255,0.8);
    font-size: 0.9rem;
    margin-bottom: 25px;
}

/* INPUT */
.input-group-custom {
    display: flex;
    align-items: center;
    gap: 10px;

    background: rgba(255,255,255,0.1);
    padding: 12px 15px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.input-group-custom i {
    color: #fbaa1c;
}

.input-group-custom input {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    width: 100%;
}

/* BOTÃO */
.cadastro-btn {
    background: linear-gradient(135deg, #fbaa1c, #fa7c47);
    border: none;
    border-radius: 30px;
    padding: 12px;
    font-weight: 500;
    transition: 0.3s;
}

.cadastro-btn:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 25px rgba(250,124,71,0.5);
}

/* LINK */
.link {
    color: #fbaa1c;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}