body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #2c0c64, #9c15fc);
    height: 100vh;
}

/* BOTÃO VOLTAR */
.btn-voltar {
    position: fixed;
    top: 20px;
    left: 20px;

    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 18px;
    text-decoration: none;

    border-radius: 50%;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);

    transition: 0.3s;
    z-index: 1000;
}

.btn-voltar:hover {
    background: rgba(255,255,255,0.3);
    transform: scale(1.1);
}

/* CONTAINER */
.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* FORM */
.login-form {
    width: 100%;
    max-width: 400px;
    color: white;
}

/* SUBTÍTULO */
.subtitle {
    color: rgba(255,255,255,0.8);
    font-size: 0.9rem;
    margin-bottom: 20px;
}

/* INPUT */
.input-group-custom {
    display: flex;
    align-items: center;
    gap: 10px;

    background: rgba(255,255,255,0.12);
    padding: 12px 15px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.input-group-custom i {
    color: #fbaa1c;
}

.input-group-custom input {
    border: none;
    outline: none;
    background: transparent;
    color: black;
    width: 100%;
    font-size: 0.95rem;
}

/* PLACEHOLDER */
input::placeholder {
    color: rgba(255,255,255,0.7);
}

/* BOTÃO */
.login-btn {
    background: linear-gradient(135deg, #fbaa1c, #fa7c47);
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-weight: 500;
    transition: 0.3s;
}

.login-btn:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 2,px rgba(250,124,71,0.4);
}

/* LINKS */
.link {
    color: #fbaa1c;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* DIVISOR */
.divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.divider span {
    background: transparent;
    padding: 0 10px;
    color: rgba(255,255,255,0.7);
}

.divider::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.2);
    top: 50%;
    left: 0;
    z-index: -1;
}

/* TEXTO PEQUENO */
.small-text {
    font-size: 0.8rem;
}

.small-text a {
    color: #fbaa1c;
}